<div class="form-inline clearfix">
	<div class="nested-fields">
		<%= f.label :step %>
		<%= f.input :step, class:"form-input form-contol" %>
		<%= link_to_remove_association "Remove Step",f, class:"form-button btn btn-default" %>
	</div>
</div>